body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin:0 auto;
  width:20%;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
.Top-Container{
  background-color: #64ccda;
  position: relative;
  padding-top:100px;
}

.Middle-Container{
  height:200px;
  width:200px;
  background-color:#d55252;
}
.Bottom-Container{
  height:200px;
  width:200px;
  background-color:#851de0;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom:500px;
}
